<h1>
グループ<%= @group.id %> : <%= @group.name %>
</h1>

<div>
	<% if @group.messages.any? %>
		<h3>チャットルーム</h3>
		<%= render 'messages/message' %>
	<% end %>
</div>

<div>
	<section>
		<%= render 'shared/message_form' %>
	</section>
</div>

</div>
[管理者]
<ul>
<% @gmaster.each do |g|  %>
<li>
<%= g.user.username %>
</li>
<% end %>
</ul>
[メンバー]
<ul>
<% @gsub.each do |g|  %>
<li>
<%= g.user.username %>
</li>
<% end %>
</ul>
<% @gmaster.each do |g|  %>
	<% if current_user &&  current_user.id == g.user.id %>
	<%= link_to "グループ消去", @group, method: :delete,data: { confirm: "You sure?" } %>
	<%= link_to("グループ編集", :controller => :groups, :action => :edit ) %>
	<% end %>
<% end %>
</div>
