<h1>
<%= @group.name %>
</h1>

<h2>
<%= @group.id %>
</h2>

このグループの管理者は
<%= @gid.user.username %>
です
<% if current_user.id == @gid.user.id %>
	<br>
	<%= link_to "グループ消去", @group, method: :delete,data: { confirm: "You sure?" } %>
	<br>
	<%= link_to("グループ編集", :controller => :groups, :action => :edit ) %>
<% end %>
