<h1>Users</h1>
<% if user_signed_in? %>
<ul class="users">
	<% @users.each do |user| %>
		<li>
			<%= link_to(user.username, :controller => :users, :action => :show, :id => user.id )%>
			<br>
			User ID: <%= user.id %>
			<ul>
				<li>
					<%= user.username %>
				</li>
				<li>
					<%= user.email %>
				</li>
				<li>
					Last login: <%= l user.last_sign_in_at.in_time_zone('Tokyo'), format: :datetime %>
				</li>
			</ul>
		</li>
	<% end %>
</ul>
<% end %>
